* {
  text-align: center;
  color: white;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h1,h2,p,label{
  margin: 0px;
  padding: 10px;
}

body {
  /* == Background == */
  /* background-color: var(--bg); */
  margin: 0%;
  padding: 0%;

  background-image: url("../img/fondos/body.png");
  background-repeat: no-repeat;
  background-size: cover;
}
input,select,option{
  color: black;
}

.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 4;
}
.div2 {
  grid-area: 1 / 4 / 3 / 6;
}
.div3 {
  grid-area: 1 / 6 / 3 / 9;
}
.div4 {
  grid-area: 3 / 1 / 9 / 9;
}

/*========= estilo del Menu =========*/

.div_menu {
  /* == menu fixed == */
  position: fixed;
  width: 500px;
  height: 500px;
  top: 25%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  background: rgb(109,0,250);
  background: linear-gradient(0deg, rgba(109,0,250,1) 0%, rgb(49, 0, 58) 100%);
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  
  transition: 0.2s;
}
.div_menu:hover {
  box-shadow: 8px 13px 10px #4a0061;
}

.div_menu,p{
  font-size: large;
}

input {
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  font-size: medium;
  text-align: center;
  padding: 6px;
  border-radius: 2px;
  box-shadow: 0 2px rgb(31, 31, 31);
}

button:hover{
  box-shadow: 4px 4px 4px #4a0061;
}

.white {
  background-color: #197bfc; /* Green */
}

.white:hover {
  background-color: #009bf5;
}

.success {
  background-color: #1a9103; /* Green */
}
.success:hover {
  background-color: #23b306;
}

.warnnig {
  background-color: #c29c05;
}
.warnnig:hover {
  background-color: #e6d705;
}

.btnRed {
  
  background-color: #c50f0f;
}
.btnRed:hover {
  background-color: #ff0000;
}

.btnRed,.success,.warnnig{
  margin: 2px;
}

/**
* Estilo no finales solo para orientacion de la pagina 
*/

.div4 {
  margin: auto;
  background-color: rgba(73, 73, 73, 0.24);
  border: 1px solid rgb(255, 255, 255);
}

.div1,
.div2,
.div3 {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(109,0,250);
  background: linear-gradient(0deg, rgba(109,0,250,1) 0%, rgb(49, 0, 58) 100%);
}

span.p1 {
  background: rgb(6, 89, 212);
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
}
span.p2 {
  background: red;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
}


dialog{
  background: rgb(109,0,250);
  background: linear-gradient(0deg, rgba(109,0,250,1) 0%, rgb(49, 0, 58) 100%);
}

dialog>p,.menuInfo>p{
  padding: 4px;
}

.menuInfo>dialog{
  margin-left: 30%;
  margin-right: 30%;
}