* {
  text-align: center;

  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

:root {
  --bg: rgb(136, 136, 136);
}

h1,h2,p,label{
  color: white;
}

body {
  /* == Background == */
  /* background-color: var(--bg); */
  margin: 0%;
  padding: 0%;
 
  background-image: url("../img/fondos/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;

}
input,select,option{
  color: black;
}

.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 4;
}
.div2 {
  grid-area: 1 / 4 / 3 / 6;
}
.div3 {
  grid-area: 1 / 6 / 3 / 9;
}
.div4 {
  grid-area: 3 / 1 / 9 / 9;
}

/*========= estilo del Menu =========*/

.div_menu {
  /* == menu fixed == */
  position: fixed;
  width: 500px;
  height: 500px;
  top: 25%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */

  background-color: rgba(8, 11, 12, 0.753);
  /* background-image: -webkit-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-image: -moz-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-image: -o-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */

  border-radius: 5px;
  border: 2px solid rgb(119, 131, 231);
  box-shadow: 5px 10px 8px #2c2c2c;
  transition: 0.2s;
}
.div_menu:hover {
  box-shadow: 8px 13px 10px #093a42;
}

.div_menu,p{
  font-size: large;
}


input {
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  font-size: medium;
  text-align: center;
  padding: 6px;
  border-radius: 2px;
  box-shadow: 0 2px rgb(31, 31, 31);
}

.success {
  background-color: #10eb6b; /* Green */
}
.success:hover {
  background-color: #09c259;
}

.warnnig {
  background-color: #f1c40f;
}
.warnnig:hover {
  background-color: #d4ac0d;
}

/**
* Estilo no finales solo para orientacion de la pagina 
*/

.div4 {
  margin: auto;
  background-color: rgba(2, 1, 1, 0.651);
}

.div1,
.div2,
.div3,
.div4 {
  border: 1px solid rgb(85, 102, 255);
}

span.p1 {
  background: rgb(6, 89, 212);
  color: #ffffff;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
}
span.p2 {
  background: red;
  color: #ffffff;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
}
